
@{
    ViewBag.Title = "";
}

<header class="site-header" style="background-image: url(''); background-color: #f8f9fa">
    <div class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <div class="site-branding d-flex align-items-center">
                        <a class="d-block" href="index.html" rel="home"></a>
                    </div><!-- .site-branding -->

                    <nav class="site-navigation d-flex justify-content-end align-items-center">
                        <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                            <li class="current-menu-item"><a href="Hhttp://localhost:49330/Home/Index">Home</a></li>
                            <li><a href="http://localhost:49330/Account/Login">Login</a></li>
                            <li><a href="#">Sign Up</a></li>



                        </ul>
                    </nav><!-- .site-navigation -->

                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .nav-bar -->

    <div class="swiper-container hero-slider" style="height:100px">
        <div class="swiper-wrapper">
            <div class="swiper-slide hero-content-wrap" ;>
                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                    <h1>Allotment</h1>
                                </header><!-- .entry-header -->
                                <!-- .entry-content -->
                                <!-- .entry-footer -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->
            <!-- .swiper-wrapper -->ss
            <!-- .pagination-wrap -->
        </div><!-- .hero-slider -->
    </div>
</header><!-- .site-header -->

<div class="inputBTN">
    <a href="http://localhost:49330/Home/Index"><input class="button gradient-bg" type="submit" value="Find a Hostel"></a>
    <a href="http://localhost:49330/Hostel/AddHostel"><input class="button gradient-bg" type="submit" value="Add a Hostel"></a>
    <a href="http://localhost:49330/Hostel/Alottment"><input class="button gradient-bg" type="submit" value="Allot a Hostel"></a>
</div>

<div class="homepage-boxes-2">
    <div class="container">
        <div class="row">



            <div class="col-12 col-md-6 col-lg-5 mt-5 mt-lg-0">
                <div class="appointment-box">
                    <h2 class="d-flex align-items-center">Select Hostel</h2>

                    <form class="d-flex flex-wrap justify-content-between">
                        <select class="select-department">
                            <option value="value1">Khadija Hall</option>
                            <option value="value2">Ayesha Hall</option>
                            <option value="value3">Zohra Hall</option>
                        </select>




                    </form>
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-5 mt-5 mt-lg-0">
                <div class="appointment-box">
                    <h2 class="d-flex align-items-center">Select Session</h2>

                    <form class="d-flex flex-wrap justify-content-between">
                        <select class="select-department">
                            <option value="value1">2018</option>
                            <option value="value2">2017</option>
                            <option value="value3">2016</option>
                            <option value="value2">2015</option>
                            <option value="value3">2014</option>
                        </select>




                    </form>
                </div>

            </div>
        </div>
    </div>
</div>



<div style="margin:100px;">
    <div class="single-element-widget mt-30">
        <h3 class="mb-30">Room Details</h3>
    </div>
    <table class="table table-bordered">
        <thead>
        <th>Room No.</th>
        <th>Name</th>
        <th>Registeration No.</th>
        <th>Aggregate</th>
        <th>Action</th>
        
        <tbody>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td><input type="checkbox" id="default-checkbox" checked></td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td><input type="checkbox" id="default-checkbox" checked></td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td><input type="checkbox" id="default-checkbox" checked></td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td><input type="checkbox" id="default-checkbox" checked></td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td><input type="checkbox" id="default-checkbox" checked></td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td><input type="checkbox" id="default-checkbox" checked></td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td><input type="checkbox" id="default-checkbox" checked></td>
            </tr>
        </tbody>
    </table>
    <div class="w-100 text-center mt-5">
        <a class="button gradient-bg" href="#">Allot</a>
    </div>

</div>

