@{
    ViewBag.Title = "Home Page";
}
    <header class="site-header" style="background: url('/../images/hero2.png'); background-color: #f8f9fa;">
    <div class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                    <div class="site-branding d-flex align-items-center">
                        <a class="d-block" href="/Home/Index" rel="home"></a>
                    </div><!-- .site-branding -->

                    <nav class="site-navigation d-flex justify-content-end align-items-center">
                        <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                            <li class="current-menu-item"><a href="/Home/Index">Home</a></li>
                            <li><a href="/Account/Login">Login</a></li>
                            <li><a href="/Account/Register">Sign Up</a></li>



                        </ul>
                    </nav><!-- .site-navigation -->

                    <div class="hamburger-menu d-lg-none">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div><!-- .hamburger-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .nav-bar -->

    <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide hero-content-wrap" >
                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                    <h1>Welcome to <br>Hostel Management System</h1>
                                </header><!-- .entry-header -->
                                <!-- .entry-content -->
                                <!-- .entry-footer -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->
            <!-- .swiper-wrapper -->
            <!-- .pagination-wrap -->
        </div><!-- .hero-slider -->
    </div>
</header><!-- .site-header -->



<div class="homepage-boxes">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">



            </div>
        </div>







    </div>
</div>
    

<div class="our-departments">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="our-departments-wrap">
                    <h2>Our Hostels</h2>

                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-4">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="~/images/news-2.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>Khadija Hall</h3>


                            </header>

                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="~/images/news-1.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>Ayesha Hall</h3>


                            </header>

                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="~/images/news-3.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>Usman Hall</h3>


                            </header>

                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="~/images/news-4.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>Edhi Hall</h3>


                            </header>

                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <figure class="post-thumbnail">
                                <a href="#"><img src="~/images/news-5.jpg" alt=""></a>
                            </figure>

                            <header class="entry-header">
                                <h3>Faculty Hostel</h3>


                            </header>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>